@import "styles/variables.scss";
@import "styles/mixins.scss";

.heroContainer{
  padding: 0 20px;

  @include tablet {
    padding: 0 70px;
  }
}

.hero {
  background: linear-gradient(90deg, rgba(0,0,0,1) 48%, rgba(205,255,0,1) 52%);
  color: $white-color;
  height: 450px;
  width: 100%;
}

.title, .description {
  margin-bottom: 20px;
}

.image {
  height: 450px;
  position: absolute;
  width: auto;

  &Container {
    width: 100%;
  }
}

.textContainer {
  bottom: 80px;
  padding: 0 20px;
  position: absolute;

  @include tablet {
    bottom: 100px;
    padding: 0 70px;
  }
}
